.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.strength-indicator {
  display: flex;
  width: 100px;
  justify-content: space-between;
  margin-top: 10px;
}

.strength-indicator div {
  width: 30px;
  height: 10px;
}

.gray {
  background-color: gray;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
